In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('players_20.csv')
df.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

In [4]:
df.set_index("short_name", inplace=True)

In [5]:
df=df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

# Query()

In [8]:
## find player age> 40
df.query("age>40")

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
G. Buffon,Gianluigi Buffon,41,1978-01-28,192,92,Italy,Juventus
Hilton,Vitorino Hilton da Silva,41,1977-09-13,180,78,Brazil,Montpellier HSC
C. Lucchetti,Cristian David Lucchetti,41,1978-06-26,182,69,Argentina,Atlético Tucumán
F. Kippe,Frode Kippe,41,1978-01-17,194,97,Norway,Lillestrøm SK
C. Muñoz,Cristian Fernando Muñoz Hoffman,42,1977-07-01,177,73,Argentina,CD Universidad de Concepción
H. Sulaimani,Hussein Omar Abdul Ghani Sulaimani,42,1977-01-21,173,70,Saudi Arabia,Al Ahli

In [9]:
#the equivalent boolean slicing 
# we can do this with query only
df[df['age']>40]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
G. Buffon,Gianluigi Buffon,41,1978-01-28,192,92,Italy,Juventus
Hilton,Vitorino Hilton da Silva,41,1977-09-13,180,78,Brazil,Montpellier HSC
C. Lucchetti,Cristian David Lucchetti,41,1978-06-26,182,69,Argentina,Atlético Tucumán
F. Kippe,Frode Kippe,41,1978-01-17,194,97,Norway,Lillestrøm SK
C. Muñoz,Cristian Fernando Muñoz Hoffman,42,1977-07-01,177,73,Argentina,CD Universidad de Concepción
H. Sulaimani,Hussein Omar Abdul Ghani Sulaimani,42,1977-01-21,173,70,Saudi Arabia,Al Ahli

In [12]:
## df[(df['age']>34) & (df['nationality']=='Italy')]
df.query("age>35 and nationality=='Brazil'" )

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Naldo,Ronaldo Aparecido Rodrigues,36,1982-09-10,198,91,Brazil,AS Monaco
Hilton,Vitorino Hilton da Silva,41,1977-09-13,180,78,Brazil,Montpellier HSC
Douglas,Douglas Renato de Jesus,36,1983-03-09,188,87,Brazil,Vitória Guimarães
Gomes,Heurelho da Silva Gomes,38,1981-02-15,191,95,Brazil,Watford
Rafael,Rafael de Andrade Bittencourt Pinheiro,37,1982-03-03,187,80,Brazil,Cagliari
Cássio,Cássio Albuquerque dos Anjos,38,1980-08-12,185,83,Brazil,Al Taawoun
Bracali,Rafael Wihby Bracalli,38,1981-05-05,185,80,Brazil,Boavista FC
Adriano Mezavilla,Adriano Sartorio Mezavilla,36,1983-01-14,184,80,Brazil,Castellammare di Stabia
Yuri,Yuri de Souza Fonseca,36,1982-08-08,186,78,Brazil,SD Ponferradina
Rafinha,Rafael Scapini de Almeida,37,1982-06-29,184,78,Brazil,HJK Helsinki

In [13]:
# df[~(df['age']>34)]
df.query("not(age>20)")

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
K. Mbappé,Kylian Mbappé,20,1998-12-20,178,73,France,Paris Saint-Germain
M. de Ligt,Matthijs de Ligt,19,1999-08-12,189,89,Netherlands,Juventus
G. Donnarumma,Gianluigi Donnarumma,20,1999-02-25,196,90,Italy,Milan
J. Sancho,Jadon Sancho,19,2000-03-25,180,76,England,Borussia Dortmund
K. Havertz,Kai Havertz,20,1999-06-11,188,83,Germany,Bayer 04 Leverkusen
...,...,...,...,...,...,...,...
Huang Jiahui,Jiahui Huang,18,2000-10-07,183,74,China PR,Dalian YiFang FC
E. Tweed,Evan Tweed,20,1999-03-01,180,72,Republic of Ireland,Derry City
P. Martin,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC

In [14]:
# convert height to meters and select those with height above 1.8
# df[df['height_cm']/100>1.8]
df.query("(height_cm/100)>1.8")

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
...,...,...,...,...,...,...,...
P. Martin,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [16]:
# # select players that were born after 1990
df.dtypes

long_name      object
age             int64
dob            object
height_cm       int64
weight_kg       int64
nationality    object
club           object
dtype: object

In [21]:
# conver "dob" column to datetime type
df['dob']= df['dob'].astype('datetime64[ns]')

In [22]:
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [ ]:
# df[df['dob'].dt.year>1990]
df.query('dob.dt.year>1990')