In [1]:
import pandas as pd

In [37]:
fifa_data=pd.read_csv('players_20.csv')

In [22]:
fifa_data

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [38]:
## set a certain column as main index
##fifa_data.set_index('age', inplace=True)
fifa_data.set_index('short_name', inplace=True)

In [34]:
fifa_data.head(5)

,long_name,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,1991-01-07,175,74,Belgium,Real Madrid

In [ ]:
### data=data[[]] willl take only given column from original dataframe and make a new data frame

In [39]:
fifa_data=fifa_data[['long_name','age',  'dob', 'height_cm', 'weight_kg','nationality', 'club']]

In [40]:
fifa_data

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Selecting with a single value
### loc[row_label, column_label]

In [41]:
## all data of a row(messi)
fifa_data.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [42]:
fifa_data.loc['L. Messi','height_cm']

np.int64(170)

In [44]:
fifa_data.loc['Cristiano Ronaldo', 'weight_kg']

np.int64(83)

In [45]:
# get all rows inside the 'height_cm' column
fifa_data.loc[:, 'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [46]:
# get all columns that correspond to the index 'L. Messi'
fifa_data.loc['Neymar Jr', :]

long_name      Neymar da Silva Santos Junior
age                                       27
dob                               1992-02-05
height_cm                                175
weight_kg                                 68
nationality                           Brazil
club                     Paris Saint-Germain
Name: Neymar Jr, dtype: object

### Selecting with a list of values

In [47]:
## getting all data of more than pone player
fifa_data.loc[['L. Messi', 'Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [48]:
## getting their height
fifa_data.loc[['L. Messi', 'Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [50]:
## getting multiple column data of one player
fifa_data.loc['Neymar Jr',['height_cm',	'weight_kg']]

height_cm    175
weight_kg     68
Name: Neymar Jr, dtype: object

In [51]:
## getting multiple data of multiple player
fifa_data.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm',	'weight_kg','age']]

                   height_cm  weight_kg  age
short_name
L. Messi                 170         72   32
Cristiano Ronaldo        187         83   34

### Selecting a range of data with a slice

In [52]:
## slice with column
players = ['L. Messi', 'Cristiano Ronaldo']
fifa_data.loc[players, 'age':'nationality']

                   age         dob  height_cm  weight_kg nationality
short_name
L. Messi            32  1987-06-24        170         72   Argentina
Cristiano Ronaldo   34  1985-02-05        187         83    Portugal

In [55]:
## slice with row
columns = ['age', 'dob', 'height_cm', 'weight_kg']

# get top1 and top10 player name
 #fifa_data.index[:10]
fifa_data.loc['L. Messi':'E. Hazard', columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74

## Selecting with conditions

In [57]:
## selecting player with column but one column with a condition
columns = ['age', 'dob', 'height_cm', 'weight_kg']
fifa_data.loc[fifa_data['weight_kg']> 80, columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
K. Koulibaly        28  1991-06-20        187         89
...                ...         ...        ...        ...
B. Sinzig           19  1999-12-21        191         81
J. Wright           18  2001-04-10        185         82
D. Mackay           22  1997-01-23        191         81
P. Królczyk         25  1994-05-10        188         81
P. Martin           20  1999-01-05        188         84

[3958 rows x 4 columns]

In [58]:
fifa_data.loc[(fifa_data['height_cm']>180) & (fifa_data['nationality']== 'Argentina'),:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC
...,...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors